* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
        'navbar navbar navbar'
        'side body body'
        'left mid right';
}

.contain {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
        'left mid right'
        'left mid right'
        'footer footer footer';
}

.item1 {
    background-color: white;
    border: 2px solid black;
    padding: 12px;
    height: 100px;
    display: flex;
}

.item1 i {
    font-size: 1.5rem;
}

.box1 {
    margin-left: 90%;
}

.box1 p {
    border: 2px solid black;
    padding: 5px 20px;
    border-radius: 5px;
}

.item2 {
    background-color: white;
    border: 2px solid black;
    padding: 12px;
    height: 600px;
}

.box2 {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
}

.box2 p {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 17.9px 5px;
    margin: 5px;
    border-radius: 5px;
}

.item3 {
    background-color: white;
    border: 2px solid black;
    padding: 12px;
    height: 600px;
}

.item3 h3 {
    border: 2px solid black;
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 10px 300px;
}

.state table td {
    border: 2px solid black;
}

.state table td p {
    display: flex;
    font-size: 20px;
    padding: 11px 77px 13.4px 110px;
}

.item {
    background-color: white;
    border: 2px solid black;
    padding: 12px;
    height: 600px;
    overflow: scroll;
}

.item h3 {
    border: 2px solid black;
    display: flex;
    align-items: center;
    margin: -4px;
    padding: 7px 143px;
    position: sticky;
}

.item ul li {
    cursor: pointer;
    color: blue;
}

.footer {
    background-color: white;
    /* border: 2px solid black; */
    padding: 12px;
    height: 200px;
    /* display: flex; */
}

.box4 {
    height: 20px;
    width: 90%;
}
.box5 {
    height: 20px;
    width: 90%;
}

.box4 h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 17.9px 5px;
    margin: 5px;
    border-radius: 5px;
}

.box5 p {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 17.9px 5px;
    margin: 5px;
    border-radius: 5px;
}

#navbar {
    grid-area: navbar;
}

#side {
    grid-area: side;
}

#body {
    grid-area: body;
}

#U-left {
    grid-area: left;
}

#U-mid {
    grid-area: mid;
}

#U-right {
    grid-area: right;
}

#R-left {
    grid-area: left;
}

#R-mid {
    grid-area: mid;
}

#R-right {
    grid-area: right;
}

#footer {
    grid-area: footer;
}