*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home{
    display: flex;
    flex-direction: column;
    padding: 23px 200px;
    height: 2.8rem;
    align-items: center;
    font-size: 5rem;
}

#home::before{
    content: "";
    background: url('rr32.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: black;
    text-align: center;
    font-size: larger;
}

body{
    margin: 0;
    background: #eaeaea;
    overflow-x: hidden;
}

.container{
    position: relative;
    width: 90%;
    margin: auto;
}

.slide{
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    padding: 10px;
    margin: 100px;
}

.item{
    flex: 0 0 auto;
    width: 200px;
    height: 300px;
    top: 50%;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 30px 50px #505050;
    background-position: center;
    background-size: cover;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
}


.slide .item:nth-child(3){
    left: 50%;
}
.slide .item:nth-child(4){
    left: calc(50% + 220px);
}
.slide .item:nth-child(5){
    left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6){
    left: calc(50% + 660px);
    opacity: 0;
}


.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button button:hover{
    background: #ababab;
    color: #fff;
}

/* Lightbox Styles */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.5s ease;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(0.8);
    animation: zoomIn 0.5s ease forwards;
}

.lightbox .close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

/* Keyframes for fade-in effect */
@keyframes fadeIn {
    from {
        background: rgba(0, 0, 0, 0);
    }
    to {
        background: rgba(0, 0, 0, 0.8);
    }
}

/* Keyframes for zoom-in effect */
@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

